* {
  margin: 0;
  text-align: center;
  background-image: url("/Users/lathamvandenbergh/Documents/Web Design/Projects/Mixtream/Images");
}
html {
  background-image: url("/Users/lathamvandenbergh/Documents/Web Design/Projects/Mixtream/Images/Background-01.jpg");
  font-family: 'Roboto', sans-serif;
  background-color: #362646;
  /*#5D5D5D*/
}

/*----------------------------------------------------------------------------*/
/* Navigation CSS Code*/
/*----------------------------------------------------------------------------*/

.navigation {
  margin: 0;
  padding: 0;
  height: 200px;
}

.nav-menu {
  margin: 20px;
  float: right;
  clear: left;
}

.nav-logo {
  color: transparent;
  height: 100px;
  width: 300px;
  display: inline-block;
  background-image: url("/Users/lathamvandenbergh/Documents/Web Design/Projects/Mixtream/Images/MixElmnt-11.svg");
  background-repeat: no-repeat;
  background-size: contain;

}

.nav {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  border: solid 2px white;
  color: #fff;
  display: inline-block;
}

/*----------------------------------------------------------------------------*/
/* Body CSS Code*/
/*----------------------------------------------------------------------------*/

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 200px;
  background-color: #FFF;
  color: #362646;
}
h1 {
  padding: 20px;
  font-weight: lighter;
  background-color: #8968AD;
  color: #FFF;
}

h2, h3 {
  padding: 20px;
  font-weight: lighter;
  background-color: #362646;
  color: #FFF;
}

/*----------------------------------------------------------------------------*/
/* Footer CSS Code*/
/*----------------------------------------------------------------------------*/

.footer-links {

}

.footer {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 50px;
}

.social-one {
  margin: 20px;
  float: right;
  display: inline-block;
  background-image: url("/Users/lathamvandenbergh/Documents/Web Design/Projects/Mixtream/Images/Mixtream Social-02.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: transparent;
  width: 50px;
  height: 50px;
}

.social-two {
  margin: 20px;
  float: right;
  display: inline-block;
  background-image: url("/Users/lathamvandenbergh/Documents/Web Design/Projects/Mixtream/Images/Mixtream Social-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: transparent;
  width: 50px;
  height: 50px;
}
