html {
  background-color: #362646;
  /*#5D5D5D*/
}

* {
  margin: auto;
  background-image: url("../Background-01");
}

p {
  background-color: #FFF;
  color: #362646;
}
h1, h2, h3 {
  background-color: #8968AD;
  color: #362646;
}
