/*Hex Colors*/
/*#5D5D5D
#362646*/
* {
  margin: 0;
  padding: 0;
  text-align: center;
}
html {
  background-image: url("/Volumes/LDRIVE 2/Web Design/Projects/Mixtream/Images/Background-01.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #362646;
}

p {
  max-width: 900px;
  margin: auto;
}

/*----------------------------------------------------------------------------*/
/* Navigation CSS Code*/
/*----------------------------------------------------------------------------*/

.navigation {
  display: inline-flex;
  margin: 0;
  padding: 0;
  height: 200px;
}

.nav-menu {
  margin: 20px;
  float: right;
  clear: left;
}

.nav-logo {
  float: left;
  clear: left;
  margin: 40px;
  color: transparent;
  height: 100px;
  width: 300px;
  display: inline-block;
  background-image: url("/Volumes/LDRIVE 2/Web Design/Projects/Mixtream/Images/MixElmnt-11.svg");
  background-repeat: no-repeat;
  background-size: contain;

}

.nav {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  border: solid 2px white;
  color: #fff;
  display: inline-block;
}

.nav:hover {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: #FFF;
  color: #362646;
  display: inline-block;
}

/*----------------------------------------------------------------------------*/
/* Body CSS Code*/
/*----------------------------------------------------------------------------*/

a {
  color: inherit;
  text-decoration: none;
}

.info {
  font-size: 20px;
  font-weight: lighter;
  padding: 50px 300px 50px 300px;
  background-color: #FFF;
  background: rgba(54, 38, 70, 0.85);
  color: #FFF;
}

#list:hover {
  color: #362646;
}

.more-info {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
  background-image: url("/Volumes/LDRIVE 2/Web Design/Projects/Mixtream/Images/MixElmnt-02.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  float: center;
  display: block;
  border-radius: 100%;
  border: none;
  padding: 23px 14.5px;
  color: transparent;
}

.more-info:hover {
  float: center;
  clear: both;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  float: center;
  display: block;
  border-radius: 50px;
  border: solid 2px white;
  padding: 18.5px 14.5px;
  font-size: 15px;
  color: white;
}

h1 {
  padding: 20px;
  font-size: 100px;
  font-weight: bold;
  /*background-color: #8968AD;*/
  color: #FFF;
}

h2, h3 {
  font-size: 35px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(54, 38, 70, 0.85);
  font-weight: lighter;
  /*background-color: #362646;*/
  color: #FFF;
}

/*----------------------------------------------------------------------------*/
/* Footer CSS Code*/
/*----------------------------------------------------------------------------*/


.footer {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 50px;
}

.footer:hover {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 50px;
  background-color: #FFF;
  color: #362646;
  display: inline-block;
}
