/* Global */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: sans-serif;
}

header {
  color: white;
  background-color: #362646;
}

img {
  margin: 20px;
}

footer {
  color: white;
  background-color: #362646;
}

table {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

td {
  padding: 20px;
  text-align: left;
}

h1, h2, h3 {
  margin: 10px;
}

p {
  max-width: 700px;
  margin: auto;
  text-align: left;
}



/* Header */
.navigation {
  display: inline-flex;
  margin: 0;
  padding: 0;
  height: 150px;
}

.nav-menu {
  margin: 20px;
  float: right;
  clear: left;
}

.nav-logo {
  float: left;
  clear: left;
  margin: 40px;
  color: transparent;
  font-weight: 100;
  height: 100px;
  width: 300px;
  display: inline-block;
  background-image: url("/Volumes/LDRIVE 2/Web Design/Projects/Mixtream/Images/MixElmnt-11.svg");
  background-repeat: no-repeat;
  background-size: contain;

}

.nav {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  border: solid 2px white;
  color: #fff;
  display: inline-block;
}

.nav:hover {
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: #FFF;
  color: #362646;
  display: inline-block;
}

/* Info */
.contact {
  text-align:left;
}

/* Lesson Code */
.box {
  padding: 30px;
  background-color: rgba(54, 38, 70, 0.85);
  max-width: 700px;
}
.header-box {
  max-width: 700px;
  max-height: 250px;
  margin: 20px auto 20px auto;
  padding: 50px;
  color: white;
  background-image: url("/Volumes/LDRIVE 2/Web Design/Projects/Mixtream/Images/Background-01.jpg");
  background-repeat: no-repeat;
  background-size: hidden;
  background-position: left;
}
.heading {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #362646;
}
.lesson{
  margin: 30px auto 30px auto;
  padding: 20px;
  background-color: white;
  max-width: 700px;
}

.sheet-music {
  max-width: 700px;
}

/* Footer Code */
.footer {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  color: #FFF;
  border: solid 2px #FFF;
  border-radius: 50px;
}

.footer:hover {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 50px;
  background-color: #FFF;
  color: #362646;
  display: inline-block;
}
